/* Reset CSS */

h1 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

body {
  height: 100vh;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: inherit;
}

/* Design CSS */

.logo-title {
  font-size: 60px;
  font-weight: 800;
  color: #ffffff;
  text-align: center;
  margin-top: 300px;
}

.input-box {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.3);
  width: 500px;
  margin: 30px auto;
  padding: 10px;
  border-radius: 10px;
}

#username,
#password {
  box-sizing: border-box;
  display: block;
  width: 300px;
  height: 40px;
  margin: 30px auto;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid gray;
  transition: border-color 0.4s ease-in-out;
}

#password {
  margin-bottom: 10px;
}

#username:focus,
#password:focus {
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.check-box {
  width: fit-content;
  margin: 0 100px 20px auto;
}

.check-box-text {
  font-size: 14px;
  color: gray;
}

.sign-in-button {
  background-color: tomato;
  color: white;
  font-size: 18px;
  display: block;
  border: none;
  height: 50px;
  width: 300px;
  border-radius: 25px;
  margin: 0 auto 30px auto;
  transition: background-color 0.2s ease-in-out;
}

.sign-in-button:hover {
  background-color: #29c79f;
}

.bottom-description-box {
  text-align: center;
  color: rgb(46, 46, 46);
}

.find-description,
.sign-up-description {
  display: inline-block;
}

.sign-up-description::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: rgb(63, 63, 63);
  margin: 0 10px;
}
